<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
animals_data = pd.read_csv('dogs_n_cats.csv')

In [4]:
animals_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [5]:
animals_data.isnull().sum()

Длина                 0
Высота                0
Шерстист              0
Гавкает               0
Лазает по деревьям    0
Вид                   0
dtype: int64

In [7]:
animals_data = pd.get_dummies(animals_data)

In [15]:
animals_data

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям  Вид
0       15    18.0         1        1                   0    0
1       20    24.0         1        0                   0    0
2       34    40.8         1        1                   0    0
3       26    31.2         1        1                   0    0
4       16    19.2         1        1                   0    0
..     ...     ...       ...      ...                 ...  ...
995      8     3.2         1        0                   1    1
996      7     2.8         1        0                   1    1
997      6     2.4         1        0                   1    1
998      7     2.8         1        0                   1    1
999     11     4.4         1        0                   1    1

[1000 rows x 6 columns]

In [10]:
animals_data['Вид'] = animals_data.Вид_котик
animals_data = animals_data.drop(['Вид_котик', 'Вид_собачка'], axis=1)

In [16]:
clf_animals = tree.DecisionTreeClassifier(criterion='entropy')